@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'), url('./fonts/Inter-Regular.ttf'), format('truetype');
  font-weight: normal;
}

:root {
  --color-background: #e2e1e1;
  --color-background-light: #fffefe;
  --color-background-dark: #d9d9d9;

  --color-text: #000000;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: Inter, sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: Inter, sans-serif;
}

.button {
  background: var(--color-white);
  border: none;
  padding: 5px 34px 8px;
  cursor: pointer;
}

input {
  border: none;
  background: var(--color-background-light);
  padding: 9px 17px 10px;
  font-size: 12px;
  width: 100%;
}
input:focus-visible {
  outline: none;
}

.form {
}
.form-group {
  margin-bottom: 32px;
}
.form-error {
  margin-top: 4px;
}
